:local(.container) {
    
    position: relative;

    
    height: 100%;

    margin: 0;
    padding: 0;
    

}

:local(.logEntry) {
    height: calc(100% - 60px);

    overflow-y: scroll;
    overflow-x: hidden;
}

:local(.logEntry::-webkit-scrollbar) {
    width: 12px;
    height: 10px;
    transition: ease-in-out 1.5s;
}

:local(.logEntry::-webkit-scrollbar-thumb) {
    background: rgba(90, 90, 90, 0.8);
    border-radius: 4px;
}

:local(.logEntry::-webkit-scrollbar-thumb:hover) {
    background: rgba(110, 110, 110, 0.3);
}


:local(.interactionZone) {
    height: 60px;
    width: 100%;
    bottom: 0px;
}

:local(.settingsButton) {
    display: inline-block;
    
    border: none;
    outline: none;
    background: none;

    text-align: center;

    height: 60px;
    width: 60px;

    color: white;

    font-size: 1.5rem;

    transition: all 0.5s;
}

:local(.settingsButton:hover) {

    color: gray;

    font-size: 1.9rem;

}

:local(.settingsButton:active) {

    color: gray;

    font-size: 1.4rem;

}

:local(.profileButton) {
    display: inline-block;

    border: none;
    outline: none;
    background: none;

    text-align: center;

    height: 60px;
    width: 60px;

    color: white;

    font-size: 1.5rem;

    transition: all 0.5s;
}

:local(.profileButton:hover) {

    color: gray;

    font-size: 1.9rem;

}

:local(.profileButton:active) {

    color: gray;

    font-size: 1.4rem;

}

:local(.textEntryWrapper) {
    position: absolute;

    text-align: center;
    width: 60%;
    

    border: 2px white solid;
    border-radius: 30px;

    left: 50%;
    transform: translateX(-50%);

    bottom: 10px;

    padding: 5px;

}

:local(.textEntryWrapper > input[type="text"]) {
    background: none;
    border: none;
    outline: none;

    display: inline-block;

    float: left;

    color: white;
    padding-left: 5px;
    
    width: calc(100% - 50px );

    font-size: 1.4rem;

}

:local(.textEntryWrapper > button[type="submit"]) {
    background: none;
    border: none;
    outline: none;

    display: inline-block;
    text-align: center;
    width: 40px;
    float: right;

    color: white;

    font-size: 1.4rem;

}

