:local(.container) {

    display: flex;

    width: 100vw;
    height: 80px;

    background: rgb(70, 70, 70);

    padding-left: 15px;
    

    overflow-x: overlay;
    overflow-y: hidden;

    z-index: 4;

}

:local(.wrapper) {

    display: flex;

    padding-right: 15px;
    
    
}

:local(.container::-webkit-scrollbar) {
    width: 8px;
    height: 10px;
    transition: ease-in-out 1.5s;
}

:local(.container::-webkit-scrollbar-thumb:hover .container) {
    height: 90px;
}

:local(.container::-webkit-scrollbar-thumb) {
    background: rgba(80, 80, 80, 0.4);
    margin-right: 15px;
    border-radius: 6px;
}

:local(.container::-webkit-scrollbar-thumb:hover) {
    background: rgba(110, 110, 110, 0.8);
}


:local(.shareBox) {
    position: relative;

    width: 80px;
    right: 0;
    padding-right: 5px;

    padding-top: 8px;

    color: white;
    text-align: center;
    
}

:local(.shareBox > a) {

    width: 40px;
    font-size: 30px;
    text-decoration: none;
    color: white;
    padding-left:10px;

    transition: all 0.25s;
}

:local(.shareBox > a:hover) {

    font-size: 32px;

    color: gray;

}
