:local(.container){

    display: inline;

    width: 60px;
    height: 60px;

    border: none;
    outline: none;

    border-radius: 60px;



    margin-top: auto;
    margin-bottom: auto;

    transition: 0.25s;
    margin-right: 15px;
}

:local(.container:hover) {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);

    box-shadow: 0px 0px 5px black;
}

:local(.container:active) {
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);


}



